.user-overview {
  display: flex;
  align-items: center;
  height: 220px;
  margin-left: 70px;
}

.profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-name {
  font-size: 32px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile-data {
  width: 530px;
  margin-left: 80px;
  margin-top: -29px;
}
.user-follow-data > span {
  margin: 0px 8px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
.user-reach-out {
  width: 284px;
  height: 45px;
}

.user-profile-page {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
