.navbar {
  box-shadow: 0 8px 8px var(--boxShadow);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.navbar-text {
  font-family: "Style Script", cursive;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: black;
  text-decoration: none;
}
.searchbar {
  height: 36px;
  min-width: 125px;
  width: 268px;
}
.searchbox {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(var(--bb2, 239, 239, 239), 1);
  font-size: 16px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  outline: 0;
  z-index: 2;
  border: 0;
  border-radius: 8px;
  padding: 1px 0px 1px 5px;
}
.navbox-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
@media only screen and (max-width: 658px) {
  .searchbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hdr01Container {
    padding: 0px 16px;
  }
}
