.newsfeed-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsfeed-main {
  display: flex;
}

@media only screen and (max-width: 630px) {
  .newsfeed-main {
    width: 100%;
  }
  .newsfeed-story {
    width: 100%;
  }
}
